NEXT_PUBLIC_APPWRITE_ENDPOINT=https://fra.cloud.appwrite.io/v1
NEXT_PUBLIC_APPWRITE_PROJECT_ID=6aabf0f3003c88993bba
NEXT_PUBLIC_APPWRITE_DATABASE_ID=6aabf1350013c770ea82
NEXT_PUBLIC_APPWRITE_ATHLETES_TABLE_ID=athletes
NEXT_PUBLIC_APPWRITE_RUNS_TABLE_ID=runs
NEXT_PUBLIC_APPWRITE_RUN_SPLITS_TABLE_ID=run_splits
NEXT_PUBLIC_APPWRITE_WEIGHT_ENTRIES_TABLE_ID=weight_entries
